.banner {
	&:not(.static-content) {
		height: 80vh;
		.home-slider,
		.slick-list,
		.slick-track {
			height: 100% !important;
		}
		@include breakpoint(1366px, 'port') {
			height: 60vh;
		}
		@include breakpoint(992px, 'port') {
			height: 55vh;
		}
		@include breakpoint(992px, 'land') {
			height: 65vw;
		}
	}
	display: block;
	background-color: #f1f1f1;

	.slick-arrow {
		font-size: 0px;
		background: transparent;
		border-top: 3px solid color('white');
		border-right: 3px solid color('white');
		border-radius: 0;
		outline: none;
		width: 40px;
		height: 40px;
		@include breakpoint(1366px) {
			width: 30px;
			height: 30px;
		}
		@include breakpoint(767px) {
			width: 25px;
			height: 25px;
		}
		&.slick-prev {
			transform: rotate(-135deg);
			left: calc(( 100vw - 1240px )/2);

			@include breakpoint(1366px) {
					left: 40px;
			}
			@include breakpoint(767px) {
					left: 20px;
			}
		}
		&.slick-next {
			transform: rotate(45deg);
	    right: calc(( 100vw - 1240px )/2);
			@include breakpoint(1366px) {
					right: 40px;
			}
			@include breakpoint(767px) {
					right: 20px;
			}
		}
	}
	.image-src {
		height: 100%;
	}

	/** customization for image above and content below */
	.home__single--slide {
		background-color: color('white');
		overflow: hidden;

		&-content {
			transition: 0.5s ease all;
			position: relative;
			z-index: 99;

			.wrapper {
				@include breakpoint(767px) {
					padding: 0;
				}
			}
			.align-items-start {
				padding-top: 50px;
			}

			.align-items-end {
				padding-bottom: 50px;

				@include breakpoint(767px) {
					padding-bottom: 25px;
				}
			}
		}

		&-image {
			img {
				align-self: auto;
			}
			&.banner-image-animation {
				animation: zoominzoomputanimationforimage 20s infinite;
				-webkit-transition: all 5s cubic-bezier(0.47, 0, 0.745, 0.715);
				transition: all 5s cubic-bezier(0.47, 0, 0.745, 0.715);
			}
		}
	}

	.slick-next {
		@extend .pin-r-20;
	}

	.slick-prev {
		@extend .pin-l-20;
	}

	.slick-dots {
		@extend .position-absolute, .pin-b-20, .transform-x-center;
	}

	&.no-arrow {
		.slick-arrow {
			display: none !important;
		}
	}

	&.no-dot {
		.slick-dots {
			display: none !important;
		}
	}

	.read-more {
		&.has-arrow {
			position: relative;

			.btn-arrow {
				@extend .position-absolute, .pin-l, .transform-y-center;
				margin-left: -150px;
				pointer-events: none;
			}
		}
	}

	&.static-content {
		.home__single--slide {
			background-color: color('brand-secondary');

			&-content {
				.wrapper {
					padding: 0 20px;
				}
			}
		}

		.mobile-static-content {
			h2,
			h4,
			p {}
		}
	}

	.banner-content-wrapper {
    padding: 50px 25px;
    position: relative;
    background: rgba(0, 0, 0, 0.68);
		@include breakpoint(1024px) {
			padding: 35px 20px;
		}
	}
	.h1 {
		font-size: 56px;

		@include breakpoint(1200px) {
			font-size: 45px;
		}
		@include breakpoint(767px) {
			font-size: 35px;
		}
		@include breakpoint(568px) {
			font-size: 28px;
		}
	}

	.banner-sub-title {
		font-size: 26px;
		font-weight: bold;

		@include breakpoint(1200px) {
			font-size: 22px;
		}
		@include breakpoint(767px) {
			font-size: 20px;
		}
		@include breakpoint(568px) {
			font-size: 17px;
		}
	}
	.read-more {
		svg {
			fill: color('black');
		}

		&:hover {
			svg {
				fill: color('white');
			}
		}
	}

	.call-btn {
			svg {
				width: 15px;
				height: 15px;
				margin-right: 7px;
			}
			span {
				display: flex;
				align-items: center;
			}
	}
	@include breakpoint(580px) {
		.banner-content-wrapper {
			width: 100%;
			padding: 20px;
		}
	}

}
/* for content animation */

.hide {
	opacity: 0;
	visibility: hidden;
}

.show {
	opacity: 1;
	visibility: visible;
}

.fadeleft {
	left: -100%;
}

.fadeleft.show {
	left: 0;
}

.faderight {
	right: -100%;
}

.faderight.show {
	right: 0;
}

.zoomein {
	transform: scale(0);
}

.zoomein.show {
	transform: scale(1);
}

.slideinup {
	top: 100vh;
}

.slideinup.show {
	top: 0;
}

.slideindown {
	bottom: 100vh;
}

.slideindown.show {
	bottom: 0;
}
@keyframes zoominzoomputanimationforimage {
	0% {
		transform: translate(0%, 0%) scale(1.05);
	}

	12% {
		transform: translate(1.5%, 0) scale(1.15);
	}

	25% {
		transform: translate(1.5%, 1.5%) scale(1.25);
	}

	37.5% {
		transform: translate(0%, 1.5%) scale(1.15);
	}

	50% {
		transform: translate(0%, 0%) scale(1.05);
	}

	62.5% {
		transform: translate(-1.5%, 0) scale(1.15);
	}

	75% {
		transform: translate(-1.5%, -1.5%) scale(1.25);
	}

	87.5% {
		transform: translate(0%, -1.5%) scale(1.15);
	}

	100% {
		transform: translate(0%, 0%) scale(1.05);
	}
}

@media (max-width:992px) and (max-height: 480px), (max-width:480px) and (max-height: 992px) {
	.no-mobile-animation {
		opacity: 1;
		visibility: visible;

		&.fadeleft {
			left: 0;
		}

		&.faderight {
			right: 0;
		}

		&.zoomein {
			transform: scale(1);
		}

		&.slideinup {
			top: 0;
		}

		&.slideindown {
			bottom: 0;
		}
	}
}
